# Python Distribution Package Requirements for AIS Gateway.
#
# Source:: https://github.com/ampledata/aisgw
# Author:: Daniel J. Grinkevich
# Copyright:: Copyright 2017 Daniel J. Grinkevich
# License:: GNU General Public License, Version 3
#


flake8
pylint
twine
